<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Playfest App</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/playfestController.js"></script>
    <script src="js/controllers/pictureController.js"></script>
    <script src="js/services/talkToBackendService.js"></script>

  </head>
  <body ng-app="playfestApp">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Playfest App</h1>
      </ion-header-bar>
      <ion-content>
        <div id='playlist' ng-controller='playfestController as ctrl'>
          <a href='http://localhost:5000/auth/new'>Login</a>
          <input type='text' id='new-playlist-input' placeholder='Name Your Playlist' ng-model='playlistName'/>
          <button id='new-playlist-button' ng-click='createPlaylist(playlistName)'>
            Create Playlist! </button>
            <p id='confirmation'>{{confirmationData}}</p>
        </div>
        <div id='picture' ng-controller="pictureCtrl as ctrlr">
          <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
          <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
          <button class="button" ng-click="takePicture()">Take Picture</button>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
